@using Syncfusion.Blazor.Inputs
@using Client.Models
@using Syncfusion.Blazor.Buttons

<style>
    .button {
    border: none;
    background: grey;
    color: #ffffff !important;
    font-weight: 100;
    padding: 5px;
    text-transform: uppercase;
    border-radius: 6px;
    display: inline-block;
    transition: all 0.3s ease 0s;
    margin-right: 5px;
    }
    .button:hover {
    color: #404040 !important;
    font-weight: 700 !important;
    letter-spacing: 3px;
    background: none;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.3s ease 0s;
    }
    .content-wrapper {
        width: 90%;
        margin: 0 auto;
        min-width: 85px;
    }
    .content-wrapper div.row {
        padding: 8px 0px;
    }
</style>

<EditForm Model="@ServiceModel" OnValidSubmit="@HandleSubmit">
    <div class="card px-4 mb-4 pb-4">
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
            <SfTextBox @bind-Value="ServiceModel.title" Placeholder="Title" CssClass="e-bigger" FloatLabelType="@FloatLabelType.Auto"></SfTextBox>
        </div>
        <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
            <SfTextBox @bind-Value="ServiceModel.description" Placeholder="Description" CssClass="e-bigger" FloatLabelType="@FloatLabelType.Auto"></SfTextBox>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
            <SfTextBox @bind-Value="ServiceModel.pictureUrl" Placeholder="Picture Url" CssClass="e-bigger" FloatLabelType="@FloatLabelType.Auto"></SfTextBox>
        </div>
        <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
            <SfNumericTextBox @bind-Value="ServiceModel.duration" Placeholder="Duration" CssClass="e-bigger" FloatLabelType="@FloatLabelType.Auto"></SfNumericTextBox>
        </div>
    </div>
    </div>

    <div class="row">
        <div class="btn">
            <SfButton IsPrimary="true" @onclick="HandleSubmit">Create</SfButton>
        </div>
    </div>

</EditForm>

@code {

    [Parameter]
    public Action<Service> OnSubmit { get; set; }

    private Service ServiceModel = new Service();

    public void HandleSubmit()
    {
        OnSubmit(ServiceModel);
    }

}