@using Syncfusion.Blazor.Cards
@using Syncfusion.Blazor.Buttons
@using Microsoft.Extensions.Logging
@using Client.Models


<style>
    #BasicCard, #NewIconCard {
        height: 180px;
        margin: 16px;
    }
    #SideCard {
        height: 376px;
        margin: 16px;
    }
    .e-card > .e-card-image {
        background-repeat: no-repeat;
        min-height: 205px;
    }
   
    .e-card .e-card-content {
        padding-top: 0px;
    }
</style>

<SfCard ID="BasicCard">
    <CardHeader>
        <h1>@Name</h1>
    </CardHeader>
    <CardContent>
        <p>@Services @(Services == 1 ? "service" : "services")</p>
        <p>@Employees @(Employees == 1 ? "employee" : "employees")</p>
    </CardContent>
    <CardFooter>
        <CardFooterContent>
            <SfButton CssClass="e-btn e-outline e-primary" @onclick="@(() => EditThisBusiness.InvokeAsync(Business.Id))">Edit</SfButton>
            <SfButton CssClass="e-warning" @onclick="@(() => ManageServices.InvokeAsync(Business.Id))">Services</SfButton>
            <SfButton CssClass="e-warning" @onclick="@(() => ManageEmployees.InvokeAsync(Business.Id))">Employees</SfButton>
        </CardFooterContent>
    </CardFooter>
</SfCard>

@code {

    [Parameter]
    public Business Business { get; set; }

    [Parameter]
    public String Name { get; set; }

    [Parameter]
    public int Services { get; set; }

    [Parameter]
    public int Employees { get; set; }

    /*[Parameter]
    public Action OnClick { get; set; }*/

    [Parameter]
    public EventCallback<string?> EditThisBusiness { get; set; }

    [Parameter]
    public EventCallback<string?> ManageServices { get; set; }
    
    [Parameter]
    public EventCallback<string?> ManageEmployees { get; set; }

}